<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.clinic">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/hospital1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseActionActivity"
            android:label="@string/app_name"/>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".DatabaseDoctorsSignUpActivity"/>
        <activity android:name=".DatabaseServiceSignUpActivity"/>
        <activity android:name=".DatabaseSpecialistsActivity"/>
        <activity android:name=".DatabaseServiceActivity"/>
        <activity android:name=".AboutClinicActivity">
        </activity>
        <activity android:name=".ContactsClinicActivity">
        </activity>
        <activity android:name=".WebViewActivity">
        </activity>
        <activity android:name=".PasswordActivity">
        </activity>
        <activity android:name=".RegistrationActivity">
        </activity>
        <activity android:name=".DescriptionDoctorsActivity">
        </activity>
        <activity android:name=".DatabaseScheduleActivity">
        </activity>
        <activity android:name=".DatabaseCardPatientsActivity">
        </activity>
    </application>

</manifest>