<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.clinic">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/hospital1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".general_activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".patient_activities.ChooseActionActivity"/>
        <activity android:name=".patient_activities.MenuActivity"/>
        <activity android:name=".patient_activities.DatabaseDoctorsSignUpActivity"/>
        <activity android:name=".patient_activities.DatabaseServiceSignUpActivity"/>
        <activity android:name=".patient_activities.DatabaseNoteEntryActivity"/>
        <activity android:name=".patient_activities.AboutClinicActivity"/>
        <activity android:name=".patient_activities.ContactsClinicActivity"/>
        <activity android:name=".patient_activities.WebViewActivity"/>
        <activity android:name=".general_activities.PasswordActivity"/>
        <activity android:name=".patient_activities.RegistrationActivity"/>
        <activity android:name=".patient_activities.DescriptionDoctorsActivity"/>
        <activity android:name=".patient_activities.DatabaseScheduleActivity"/>
        <activity android:name=".patient_activities.DatabaseCardPatientsActivity"/>
        <activity android:name=".patient_activities.GetPrivateDataActivity"/>
        <activity android:name=".doctor_activities.MenuDoctorsActivity"/>
        <activity android:name=".doctor_activities.SignToDoctorsActivity">
        </activity>
        <activity android:name=".doctor_activities.TicketsToDoctorActivity">
        </activity>
        <activity android:name=".doctor_activities.ResultDiagnosisActivity">
        </activity>
    </application>

</manifest>